body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.contact-info {
  max-width: 45%;
}

.contact-info h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.5;
}

.contact-info a {
  color: #6a0dad;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form {
  max-width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 22px); /* Account for padding */
}

.contact-form button {
  padding: 10px 20px;
  background-color: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #5a0dac;
}

@media (max-width: 768px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
  }

  .contact-info, .contact-form {
      max-width: 100%;
  }

  .contact-info {
      margin-bottom: 20px;
  }
}
header {
  background-color: #FFC0CB;
  color:#3a3a3a;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 1.8em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .contact-img {
    max-width: 100%;
    height: auto;
  }
  
}

