.hero {
    background-color: #fffbf0;
    padding: 100px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #3a3a3a;
    margin-top: -38px;
  }
  
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 2em;
    }
  
    .hero p {
      font-size: 1em;
    }
  }
  .button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #28a745; /* Green background */
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  